.background{
  background: url("../../services/bgdiv.jpg") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

.containerAlert{
  height: 300px;
  width: 800px;
}

body{
  background-color: transparent;
}

.opac{
  opacity: 0,5;
}
