
.selectedEventDate{
  float: left;
  height: 50px;
  width: 20%;
}

.selectedEventDateText{
  margin: 10px;
  text-align: center;
}

.eventTitleText{

}

.eventDescriptionText{

}

.selectedEventData{
  float: right;
  height: 50px;
  width: 80%;

}

.selectedEventTitle{
  color: black;
  height: 50%;
}

.selectedEventDescription{
  color: black;
  height: 50%;
}
