.dayPicker{
  display: inline-block;
  margin-top: 10px;
  text-align: center;
  width: 180px;
  cursor: pointer;
  border: 0px;
}

.container{
  margin-top: 10px;
}

.logoutButton{
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5%;
  margin-right: 2.5%;
  font-size: 25px;
}
