#adeCheck{
  text-align: right;
}

#adeInput{
  margin-left: 5px;
}

.form-control{
  font-size: 15px
}

.orange{
  background-color: #EA7600;
  color: white;
  border: none;
}

.btn:focus {
  background-color: white;
  color: #EA7600;
}

.separation{
  margin-top: 10px;
}

.botButtons{
  text-align: right;
}

.leftSeparation{
  margin-left: 5px;
}

.formTitle{
  margin-bottom: 10px;
}

.row{
  margin-bottom: 5px;
}
