@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.eventRow{
  border-style: solid;
  border-color: rgba(234, 117, 0, 0.568);
  height: 10px;
}

.imageButton{
  width: 60%;
  height: auto;
}

.hourCol{
  width: 16%;
}

.tableHead{
  font-size: 15px;
}

.buttonCol{
  width: 10%;
}

.backOffice{
  font-family: 'Open Sans';
}

.eventRow:hover{
  background-color: rgba(234, 117, 0, 0.24);
}
