@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.dashboard{
  padding: 5%;
  background-color: #F7F7F7;
  font-family: 'Open Sans';
  height: 100vh;
  width: 100%;
}

.appointmentContainer{
  background-color: white;
}

.weatherContainer{
  background-color:#EA7600;
  color: white;

}

.shadow{
  box-shadow: 10px 10px 5px #aaaaaa;
}

.topRow{
  margin-bottom: 6%;
  padding: 1%;
}

.separation{
  margin-top: 2%;
}
